<div>This is the scheduler view. It is VERY VERY VERY WIP</div>

<button class='btn btn-primary btn-sm' ng-click="scheduler.generateSchedule(); scheduler.checkAllJobsAssigned()">Generate Schedule</button>
<button class='btn btn-primary btn-sm' ng-click="scheduler.shuffleArray([1,2,3,4,5])">Shuffle Array</button>
<button class='btn btn-primary btn-sm' ng-click="scheduler.rateSchedule(scheduler.arr)">Rate</button>
<button class='btn btn-primary btn-sm' ng-click="scheduler.generateSchedule();
                                                 scheduler.rateSchedule(scheduler.arr);
                                                 scheduler.jobs = scheduler.shuffleArray(scheduler.jobs);
                                                 scheduler.arr = scheduler.shuffleArray(scheduler.makeVolunteers())">GenerRate</button>
<button class='btn btn-primary btn-sm' ng-click="scheduler.makeSchedules()">Make lots of schedules</button>

<br>

{{scheduler.bestRating}}
