<div>
  <header class="hero-unit" id="banner">
    <div class="container">
      <h1>Upload</h1>
    </div>
  </header>

  <h3>Please upload a spreadsheet file with the ending ".csv" to import volunteer data.</h3>
  <h4>Spreadsheets can be converted to a ".csv" with your friendly neighborhood spreadsheet editor (Excel, Google Docs, Numbers,...)</h4>

  <form class="col-md-12">
    <input type='file' file="import.volunteerFile" \>
    </br>
    <button class="btn btn-primary" ng-click="import.processVolunteerData()">Upload</button>
    <button class="btn btn-primary" ng-click="import.showVolunteerData()">Print to console</button>
  </form>

  {{import.parsedVolunteerCSV}}

  <br>

</div>
