<header class="hero-unit" id="banner">
  <div class="container">
    <h1>Add a New Volunteer</h1>
  </div>
</header>
</br>
<form class="thing-form">
  <label>Syncs in realtime across clients</label>
  <p class="input-group">
    <input type="text" class="form-control" placeholder="Volunteer First Name" ng-model="addVolunteer.firstName">
    <input type="text" class="form-control" placeholder="Volunteer Last Name." ng-model="addVolunteer.lastName">
      <span class="input-group-btn">
        <button type="submit" class="btn btn-primary" ng-click="addVolunteer.addVolunteer()">Add New</button>
      </span>
  </p>
</form>
